[Unit]
Description=Periodically update HomeAssistant docker container

[Service]
Type=oneshot
WorkingDirectory=/mnt/hdd
ExecStart=docker compose pull
ExecStart=docker compose up -d --remove-orphans
