[Unit]
Description=Monitor for HDD wakeups so they can be viewed in logs
ConditionPathExists=/mnt/hdd
After=var-mnt-hdd.mount

[Service]
WorkingDirectory=/mnt/hdd
ExecStart=fatrace -ctu

[Install]
WantedBy=multi-user.target
